<div class="col-xs-12 col-sm-auto col-md-auto col-lg-auto text-center" id="coinTable">
  <h2>Cryptocurrency Market Capitalizations</h2>
  <p>The table shows All Cryptocurrencies.</p>
  <hr>
  <div class="col-md-3 form-group">
    <div class="selectContainer">
      <select class="form-control" name="noOfCoins" id="noOfCoins" (change)="coinsChange(noOfCoins)" #noOfCoins>
        <option value="1587">All</option>
        <option selected="selected" value="10">Top 100</option>
        <option value="500">Top 500</option>
        <option value="1000">Top 1000</option>
      </select>
    </div>
  </div>
  <table class="table table-striped row-border hover ">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price Usd</th>
      <th>Market Cap</th>
      <th>Available Supply</th>
      <th>% change 1h</th>
      <th>% change 24h</th>
      <th>% change 7d</th>
      <th *ngIf="authGuard.isLogin">Favourites</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of coins;">
      <td>{{c.rank}}</td>
      <td><a (click)="showDetails(c.name)">{{c.name}}</a></td>
      <td>{{c.symbol}}</td>
      <td>{{c.price_usd}}</td>
      <td>{{c.market_cap_usd}}</td>
      <td>{{c.available_supply}}</td>
      <td>{{c.percent_change_1h}}</td>
      <td>{{c.percent_change_24h}}</td>
      <td>{{c.percent_change_7d}}</td>
      <td *ngIf="authGuard.isLogin"><input type="checkbox" name="del" value="{{c.name}}" [disabled]="(user.favCoins.indexOf(c.name) > -1)" (change)="addCoins($event)"></td>
    </tr>
    </tbody>
  </table>
</div>
