<div class="col-md-4 col-md-offset-4 text-center" id="coinTable">
    <h1>Coin Detail :</h1>
      <table class="table">
        <tbody>
        <tr>
          <td><strong>ID :</strong></td>
          <td>{{map[0].id}}</td>
        </tr>
        <tr>
          <td><strong>Name :</strong></td>
          <td>{{map[0].name}}</td>
        </tr>
        <tr>
          <td><strong>Symbol :</strong></td>
          <td>{{map[0].symbol}}</td>
        </tr>
        <tr>
          <td><strong>rank :</strong></td>
          <td>{{map[0].rank}}</td>
        </tr>
        <tr>
          <td><strong>price_usd :</strong></td>
          <td>{{map[0].price_usd}}</td>
        </tr>
        <tr>
          <td><strong>price_btc :</strong></td>
          <td>{{map[0].price_btc}}</td>
        </tr>
        <tr>
          <td><strong>market_cap_usd :</strong></td>
          <td>{{map[0].market_cap_usd}}</td>
        </tr>
        <tr>
          <td><strong>available_supply :</strong></td>
          <td>{{map[0].available_supply}}</td>
        </tr>
        <tr>
          <td><strong>total_supply :</strong></td>
          <td>{{map[0].total_supply}}</td>
        </tr>
        <tr>
          <td><strong>max_supply :</strong></td>
          <td>{{map[0].max_supply}}</td>
        </tr>
        <tr>
          <td><strong>percent_change_1h :</strong></td>
          <td>{{map[0].percent_change_1h}}</td>
        </tr>
        <tr>
          <td><strong>percent_change_24h :</strong></td>
          <td>{{map[0].percent_change_24h}}</td>
        </tr>
        <tr>
          <td><strong>percent_change_7D :</strong></td>
          <td>{{map[0].percent_change_7d}}</td>
        </tr>
        <tr>
          <td><strong>last_updated :</strong></td>
          <td>{{map[0].last_updated}}</td>
        </tr>
        </tbody>
      </table>
</div>
