<div class="col-xs-12 col-sm-auto col-md-auto col-lg-auto text-center" id="coinTable">
  <h2>Crypto Currencies</h2>
  <p>Your Favourite Crypto Currencies .</p>
    <hr>
  <table class="table table-striped row-border hover ">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price Usd</th>
      <th>Market Cap</th>
      <th>Available Supply</th>
      <th>% change 1h</th>
      <th>% change 24h</th>
      <th>% change 7d</th>
      <th *ngIf="authGuard.isLogin">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of coins;">
      <td>{{c.rank}}</td>
      <td>{{c.name}}</td>
      <td>{{c.symbol}}</td>
      <td>{{c.price_usd}}</td>
      <td>{{c.market_cap_usd}}</td>
      <td>{{c.available_supply}}</td>
      <td>{{c.percent_change_1h}}</td>
      <td>{{c.percent_change_24h}}</td>
      <td>{{c.percent_change_7d}}</td>
      <td *ngIf="authGuard.isLogin"><input type="checkbox" name="fav" value="{{c.name}}" (change)="delCoins($event)"></td>
    </tr>
    </tbody>
  </table>
</div>
